body {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: "Quicksand", sans-serif;
  font-weight:800;
}

div{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
 padding: 20px 20px;
 background-color: beige;
 color: #fa9191;
 border-radius:20px;
 font-size: 70px;
}

span{
  color: #eb6383;
}

.morningBG {
  background-image: url("./images/morning_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
}

.afternoonBG {
  background-image: url("./images/afternoon_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.eveningBG {
  background-image: url("./images/evening_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nightBG {
  background-image: url("./images/night_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
